div {
    /* width: 100%; */
    font-size: 30px;
}

.display_register_dv_cntr {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}


.container_main {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-gap: 20vh;
}

.login_sub_cntr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-columns: 1fr; */
    height: 100vh;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.login_sub_cntr:not(:hover) {
    background-color: black;
    padding: 2em;
    margin: -2em;
    color: white;

}

.login_sub_cntr>button:not(:hover) {
    background-color: black;
    color: white;
}

.login_sub_cntr>button:hover {

    color: white;

    background: url('./img/obviously_fake_galaxy_cgi_rendering_for_make_believe.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 2em;
    margin: -2em;

}

input {
    color: black;
}

.click {
    color: black;
}

h1 {
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

button.login_height_adjustments {
    height: 10vh;

}

#id_name {
    color: white;
    background-color: grey;
    opacity: 10;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.email_in_cntr {

    display: initial;
}

.email_in_cntr:active {

    background-color: blue;
}

.email_in_cntr:focus {

    background-color: red;
    opacity: 0.4;
    color: white;
}

.email_in_cntr:hover {
    background-color: yellow;
    color: black;
    font-weight: 900
}

.email_in_cntr::selection {

    background-color: blue;
    color: white;
}

.submit_id_name_bt_cntr {
    height: auto;
}

.login_height_adjustments {
    height: auto;
}

#submit_id_name {
    height: 20vh;
}

.display_register_dv_cntr {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.users {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-right: 5em;
    margin-right: 5em;
    margin-left: -3em;
    padding-left: -2em;

}


.input>label {
    font-size: 14px;
    display: grid;
}
.tabular {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 1em;
    margin-left: -2em;
    padding-left: -1em;

}

.tabulated {
    font-size: 26px;

}

.tabulated:hover {
    font-size: 36px;
    background-color: #f5ffff;
    margin-left: -0.43em;
    margin-right: -0.76em;
    z-index: 2;
}

.tabulated:not(:hover) {
    background-color: white;
    border: none;
}

h1:hover {
    background-color: red;
    color: white;
    padding: 1em;
    margin-left: -3em;
    margin-right: -3em;
    z-index: 4;
}

button:hover {
    z-index: 5;
    padding: 1em;
    border: none;
}
.email_in_cntr {

    display: initial;
}

.email_in_cntr:active {

    background-color: blue;
}

.email_in_cntr:focus {

    background-color: red;
    opacity: 0.4;
    color: white;
}

.email_in_cntr:hover {
    background-color: yellow;
    color: black;
    font-weight: 900
}

.email_in_cntr::selection {

    background-color: blue;
    color: white;
}
.password_in_cntr {
    display: initial;
}

#password {
    display: initial;
}

.submit_id_name_bt_cntr {
    height: auto;
}

.login_height_adjustments {
    height: auto;
}

#submit_id_name {
    height: 20vh;
}
.register_sub_cntr {
    background-color: blue;
}

.register_sub_cntr:not(:focus) {
    background-color: blue;
    opacity: 0.8;
}

.register_from_login {
    height: 20vh;
}

#submit_id_name {
    font-size: 23px;
}

.convincing_argument {
    font-size: 24px;
    font-weight: 900;
    height: 100%;
}


#register_from_login_id {}

.register_sub_cntr:hover {
    background-color: turquoise;
    background: url('./img/obviously_fake_galaxy_cgi_rendering_for_make_believe.jpg');
    background-size: cover;
    background-attachment: fixed;

    /* padding: 5em;
    margin: -4em; */

}

.register_button_dv_cntr {
    background-color: turquoise;
}

.or_register {}

#username {
    font-size: 15px;
}

#username:focus {
    font-size: 22px;
}

#register_password {
    font-size: 18px;
}

#register_password:focus {
    font-size: 10px;
}


.display_register_dv_cntr {
    display: grid;
    grid-template-columns: 6fr 1fr;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    grid-gap: 5em;
    padding: 2em;
    margin: -1em;
    padding-top: 7em;

}

.blocks {
    background-color: blue;
    padding: 2em;
    margin: -2em;
}

.blocks:hover {
    background-color: yellow;
    padding: 1em;
    margin: -1em;
}

.blocks5:not(:focus) {
    background-color: black;
    ;

}

.blocks1:hover {
    background: url('./img/obviously_fake_galaxy_cgi_rendering_for_make_believe.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.blocks1 {
    background-color: blue;
    color: white;
}

.blocks5:hover {
    background-color: blue;
    opacity: 0.9;
    color: white;
}

.forgot:focus {
    background-color: red;
}

.forgot::selection {

    background-color: blue;
    color: cyan;
}

.blocks5::selection {

    background-color: blue;
    color: cyan;
}

.blocks5:active {

    background-color: blue;
    color: cyan;
}

.forgot:active {

    background-color: blue;
    color: cyan;
}

.request {
    background: url('./img/obviously_fake_galaxy_cgi_rendering_for_make_believe.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.request:hover {
    color: red;
    background-color: yellow;
}

.request:not(:focus) {
    color: black;
}

.email_in_cntr {
    width: 5vw;
}

.users {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-right: 5em;
    margin-right: 5em;
    margin-left: -3em;
    padding-left: -2em;

}


.input>label {
    font-size: 14px;
    display: grid;
}

div.users>div.input>button.not_so_wide {
    width: 10vw;
}

.yes_i_want_to_register_bt_cntr {
    background-color: goldenrod;
}

.submit_users {
    background-color: goldenrod;
}

.submit_users:hover {

    color: white;
    background-color: black;
    font-weight: 900;
    font-size: 15px;

}


.submit_users {
    font-size: 26px;
}

.tabular {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 1em;
    margin-left: -2em;
    padding-left: -1em;

}

.tabulated {
    font-size: 26px;

}



.tabulated:hover {
    font-size: 36px;
    background-color: #f5ffff;
    margin-left: -0.43em;
    margin-right: -0.76em;
    z-index: 2;
}

.tabulated:not(:hover) {
    background-color: white;
    border: none;
}

h1:hover {
    background-color: red;
    color: white;
    padding: 1em;
    margin-left: -3em;
    margin-right: -3em;
    z-index: 4;
}

button:hover {
    z-index: 5;
    padding: 1em;
    border: none;
}