.container_main {
    display: grid;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.search_bt_cntr {
    display: initial;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;

}

.search_sub_cntr {
    display: initial;
}

.search_in_cntr {
    display: initial;
}

.admin_sub_cntr {
    display: grid
}

.admin_bt_cntr {
    display: initial;
}

.pending_sub_cntr {}

/* 
.pending_sub_cntr>div {
text-align: center;
vertical-align: center;
justify-items: center;
justify-self: center;
align-self: center;
align-items: center;
justify-content: center;
} */
/* .row {} */

.cashboard_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    grid-gap: 5vw;
    height: 20vh;
    background-color: black;
    color: white;
    margin-top: 7vh;
    padding-bottom: 5vh;
}

/* div(td){button/some_data} */
.cashboard_row>div {
    height: 25vh;
    width: 8vw;
    background-color: blue;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 2vw; */
    margin-bottom: 8vh;
    z-index: 15;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
}


/* button */
.cashboard_row>div>button {
    /* height: inherit; */
    height: 20vh;
    margin-top: 2.5vh;
    margin-left: -1.5vw;
    width: 11vw;
    /* margin-right: 4.5vw; */

}

.pending_button_td {
    /* height: 20vh; */
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;

}

/* 
.pending_th {
display: initial;
}

.pending_rows {
display: initial;
}


.cashboard_hover {
display: initial;
}

.cashboard_td {
display: initial;
}

.td_data {
display: initial;
}

.pending_button_action {
display: initial;
}

.td_action {
display: initial; */
/* } */


/* 
.transition_RIGHT_from_left {}

.transition_LEFT_from_right {}

.transition_FRONT_from_bottom_stack {}

.transition_BACK_from_bottom_stack {}

.cashboard_generated_rows {} */