.department_bt_cntr {
    display: inherit;
}

.card_sub_cntr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10em;
    grid-gap: 2em;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.card_sub_cntr>div {
    background-color: blue;
    height: 15vh;
    width: 12vw;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.owner_bt_cntr {
    display: initial;
}

.loop_log_bt_cntr {
    display: initial;
}

.comments_bt_cntr {
    display: initial;
}

.card_sub_cntr>div>button {
    color: white;
    font-size: 30px;
    height: 8vh;
    width: 11vw;
    background-color: red;
}

.loopid_bt_cntr {
    display: inherit;
}

.card_sub_cntr {
    display: inherit;
}

.hydro_status_bt_cntr {
    display: inherit;
}

.system_bt_cntr {
    display: inherit;
}

.type_bt_cntr {
    display: inherit;
}

.due_date_bt_cntr {
    display: inherit;
}

.hydro_remaining_bt_cntr {
    display: inherit;
}

.loop_status_bt_cntr {
    display: inherit;
}

.test_packs_bt_cntr {
    display: inherit;
}

.date_log_bt_cntr {
    display: inherit;
}