.super_notes_maximum>div {
    font-family: roboto;
    font-weight: 900;
    user-select: none;
}

.super_notes_button {
    /* background: url('normal background not opaque like below') */
    width: 100%;
    height: 14vh;
    background-color: blue;
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    user-select: none;


}

.super_notes_maximum>button {
    /* background: url('to an opaque, darker version of the bg image') */
    text-align: center;
    vertical-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 8vw;
    padding-top: 1vh;
    margin-top: 1vh;
    background-color: purple;
    color: white;
    font-family: roboto;
    font-weight: 900;
    user-select: none;

}

.super_notes_post_um_dv_cntr {
    display: initial;
}

.get_it_on_notes {
    display: initial;
}

.super_notes_input {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    width: 100%;
}

.super_notes_popup {
    display: grid;
    grid-template-columns: 1fr;
}

.super_notes_notes {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.super_notes_clear {
    grid-column: 1/5;
    position: relative;
    z-index: 2;
}


#lets_goALAMO {
    display: initial;
}

.get_it_on_notes {
    display: initial;
}



.filter_sub_cntr {
    display: initial;
}

._btn_generate_filters_btns {
    display: initial;
}